
/**
 * Loads the Dead Island font from the local path. In the commercial version of this site, either use a different font or
 * purchase a license to use the 'Dead Island.ttf' font. 
 */
@font-face {
    font-family: "Dead Island";
    src: url("./../res/Dead Island.ttf") format("truetype");
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;

    /* The url of the image is 'https://wallpaperscraft.com/image/dead_island_palms_waves_sunset_graphics_19825_2560x1024.jpg'.
    The local version of the image is smaller in size and is used as it takes less time to download. */
    background-image: url("./../res/bg.png");
    background-size: cover;
}
