#weapon {
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  background-image: url("./../../res/board.png");
  background-size: cover;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Dead Island", sans-serif;
  font-size: 4.5em;
  font-weight: bold;
  text-shadow: 10px 10px black;
  user-select: none;
  white-space: nowrap; }

.inventory {
  height: 100%;
  width: 45%;
  margin-top: 100px;
  padding: 0 5% 0 5%;
  position: relative;
  background: rgba(0, 130, 0, 0.75);
  background: -webkit-linear-gradient(left, rgba(0, 75, 0, 0.75), rgba(0, 130, 0, 0.75), rgba(0, 75, 0, 0.75));
  background: -moz-linear-gradient(left, rgba(0, 75, 0, 0.75), rgba(0, 130, 0, 0.75), rgba(0, 75, 0, 0.75));
  background: -o-linear-gradient(left, rgba(0, 75, 0, 0.75), rgba(0, 130, 0, 0.75), rgba(0, 75, 0, 0.75));
  background: linear-gradient(left, rgba(0, 75, 0, 0.75), rgba(0, 130, 0, 0.75), rgba(0, 75, 0, 0.75));
  border-color: rgba(0, 130, 0, 0.75);
  border-style: groove;
  border-width: 1px 0px 1px 0px; }
  .inventory .statbox-separator {
    margin-bottom: 4%;
    margin-top: 4%; }
  .inventory .stats {
    color: white;
    font-family: "Impact", sans-serif;
    font-size: 1.25em;
    font-weight: lighter;
    width: 100%; }
    .inventory .stats .header-stats {
      width: 100%; }
      .inventory .stats .header-stats .header-stat-left {
        float: left;
        text-align: left; }
      .inventory .stats .header-stats .header-stat-right {
        float: right;
        text-align: right; }
    .inventory .stats .body-stats {
      background: rgba(0, 0, 0, 0.15);
      background: -webkit-radial-gradient(rbga(0, 0, 0, 0.5) 60%, transparent);
      background: -moz-radial-gradient(rgba(0, 0, 0, 0.5) 60%, transparent);
      background: -o-radial-gradient(rgba(0, 0, 0, 0.5) 60%, transparent);
      background: radial-gradient(rgba(0, 0, 0, 0.5) 60%, transparent); }
    .inventory .stats .stat {
      text-shadow: 2px 2px black; }
      .inventory .stats .stat .stat-name {
        margin-right: 0.5em;
        color: white; }
      .inventory .stats .stat .stat-value {
        color: #F1FF24;
        font-size: 0.975em; }
  .inventory .weapons {
    height: 5em;
    max-height: 5em;
    width: 100%;
    margin-top: 10%;
    border-color: black;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll; }
    .inventory .weapons .weapon {
      background: rgba(0, 0, 0, 0.5);
      color: white;
      font-family: "Impact", sans-serif;
      font-size: 1.25em;
      font-weight: lighter;
      text-align: left;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.5); }
