
.stats {
    width: 100%;

    text-align: center;
}

.weapon-stat {
    width: 90%;

    background-image: url("./../res/board.png");
    background-size: cover;
    color: white;
    font-family: "Impact", sans-serif;
    font-size: 1.75em;
    font-weight: lighter;
    letter-spacing: 0px;
}

.weapon-stat .weapon-stat-property {
    text-align: left;
}

.weapon-stat .weapon-stat-value {
    text-align: right;
}

#inventory {
    height: 100%;
    width: 40%;
    margin-top: 5%;

    background-color: rgba(0, 130, 0, 0.75);
}

#weapon {
    -webkit-transform: rotate(-7.5deg);
    transform: rotate(-7.5deg);
    margin-bottom: 1em;

    background-image: url("./../res/board.png");
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    font-family: "Dead Island", sans-serif;
    font-size: 5em;
    font-weight: bold;
    user-select: none;
}
