$url-board : url("./../../res/board.png");
$inv-bg-color-border : rgba(0, 75, 0, 0.75);
$inv-bg-color : rgba(0, 130, 0, 0.75);
$text-slant : -5deg;

#weapon {
    -webkit-transform: rotate($text-slant);
    transform: rotate($text-slant);

    background-image: $url-board;
    background-size: cover;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Dead Island", sans-serif;
    font-size: 4.5em;
    font-weight: bold;
    text-shadow: 10px 10px black;
    user-select: none;
    white-space: nowrap;
}

.inventory {
    height: 100%;
    width: 45%;
    margin-top: 100px;
    padding: 0 5% 0 5%;
    position: relative;

    background: rgba(0, 130, 0, 0.75);
    background: -webkit-linear-gradient(left, $inv-bg-color-border, $inv-bg-color, $inv-bg-color-border);
    background: -moz-linear-gradient(left, $inv-bg-color-border, $inv-bg-color, $inv-bg-color-border);
    background: -o-linear-gradient(left, $inv-bg-color-border, $inv-bg-color, $inv-bg-color-border);
    background: linear-gradient(left, $inv-bg-color-border, $inv-bg-color, $inv-bg-color-border);
    border-color: $inv-bg-color;
    border-style: groove;
    border-width: 1px 0px 1px 0px;

    .statbox-separator {
        margin-bottom: 4%;
        margin-top: 4%;
    }

    .stats {
        color: white;
        font-family: "Impact", sans-serif;
        font-size: 1.25em;
        font-weight: lighter;
        width: 100%;

        .header-stats {
            width: 100%;

            .header-stat-left {
                float: left;
                text-align: left;
            }

            .header-stat-right {
                float: right;
                text-align: right;
            }
        }

        .body-stats {
            background: rgba(0, 0, 0, 0.15);
            background: -webkit-radial-gradient(rbga(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0));
            background: -moz-radial-gradient(rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0));
            background: -o-radial-gradient(rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0));
            background: radial-gradient(rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0));
        }

        .stat {
            text-shadow: 2px 2px black;
            
            .stat-name {
                margin-right: 0.5em;
                color: white;
            }

            .stat-value {
                color: #F1FF24;
                font-size: 0.975em;
            }
        }
    }

    .weapons {
        height: 5em;
        max-height: 5em;
        width: 100%;
        margin-top: 10%;

        border-color: black; 
        color: white;
        list-style-type: none;
        overflow-x: hidden;
        overflow-y: scroll;
        
        .weapon {
            background: rgba(0, 0, 0, 0.5);
            color: white;
            font-family: "Impact", sans-serif;
            font-size: 1.25em;
            font-weight: lighter;
            text-align: left;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        }
    }
}