
.tooltip {
    position: relative;
    display: inline-block;

    .tooltip-text {
        padding: 5px 0;
        position: absolute;
        width: 120px;

        background-color: rgb(55, 94, 49);
        border-radius: 5px;
        color: white;
        text-align: center;
        visibility: hidden;
        z-index: 1;
    }

    &:hover .tooltip-text {
        visibility: true;
    }
}